<% if flash.now[:alert] %>
  <div class="alert alert-danger">
    <%= flash.now[:alert] %>
  </div>
<% end %>

<%= form_with model: [order, order.order_dishes.build] do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(form.object.errors.count, "error") %> prohibited this comment from being saved:</h4>
      <ul>
        <% form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h3> Add this dish to your order! </h3>
<div class="mb-3">
    <%= form.label :dish_id, "Dish", class: "form-label" %>
    <%= form.collection_select(:dish_id, Dish.all, :id, :title, { prompt: "Select a dish" }, class: "form-select") %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.number_field :quantity, min: 1, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Add a Dish", class: "btn btn-primary" %>
  </div>
<% end %>