<div>
    <h3>Add a dish!</h3>
    <%= form.fields_for :order_dishes do |od_form| %>
      <div>
        <%= od_form.label :dish_id, "Dish" %>
        <%= od_form.collection_select(:dish_id, Dish.all, :id, :title) %>
      </div>
      <div>
        <%= od_form.label :quantity %>
        <%= od_form.number_field :quantity, min: 1 %>
      </div>

      <%= form.submit "Add Dish" %>
    <% end %>
  </div>
