<p>
      <strong>Delivery Date:</strong>
      <%= order.delivery_date %>
</p>

<p>
    <strong>Status:</strong>
    <%= order.status %>
</p>
<p>
    <strong>Details:</strong>
    <%= order.event_details %>
</p>
<p>
    <strong>Group Size:</strong>
    <%= order.group_size %>
</p>
<p>
    <strong>Total_cost:</strong>
    <%= order.total_cost %>
</p>