<!-- This partial helps display information related to the order.
This partial is used in the order index and order show views -->

<p id="status" class="mb-3">
    <strong>Status:</strong>
    <span class="badge 
      <%= order.status == 'Confirmed' ? 'bg-success' : order.status == 'Pending' ? 'bg-warning' : order.status == 'Completed' ? 'bg-secondary' : 'bg-primary' %>">
      <%= order.status %>
    </span>

</p>

<p class="mb-3">
    <strong>This order was created on:</strong>
    <span class="text-muted"><%= order.created_at.strftime("%B %d, %Y") %></span>
</p>


<p class="mb-3">
    <strong>Delivery Date:</strong>
    <span class="text-muted"><%= order.delivery_date.strftime("%B %d, %Y") %></span>
</p>

<p class="mb-3">
    <strong>Details:</strong>
    <span class="text-muted"><%= order.event_details %></span>
</p>




