<h1>Order Continuation</h1> <hr>
<!-- Secondary navbar-->
<div class="nav-scroller py-1 mb-2">
  <div class="nav d-flex justify-content-between py-1">
    <% @menus.each do |menu| %>
      <a class="p-2 text-muted" href='#<%= menu.title.parameterize %>'><%= menu.title %></a>
    <% end %>
  </div>
</div> <hr>

<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="row">
        
      <!-- Dishes Column -->
        <div class="col">
          <h3>Dishes in this Order:</h3>
          <!-- Render dishes -->
          <%= render 'dish' %>
        </div>
        
      



      </div>
    </div>
  </div>
</div>
<hr>

<!-- Menus -->
<div class="card shadow-lg p-5">
  <%= render 'menus/menu' %>

   <!-- Pop-Up Modal -->
  <div id="popupModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden flex items-center justify-center z-50">
    <div class="bg-white w-96 p-6 rounded-lg shadow-lg relative">
      <h2 class="text-xl font-bold mb-4" id="modalTitle">Pop-Up Content</h2>
      <p class="text-gray-600 mb-6" id="modalContent">This is the default pop-up content.</p>
      <button id="closeModal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">
        ✖
      </button>
    </div>
  </div>

</div> <hr>


<!-- Renders order details -->
<div class="card shadow-lg p-5">
  <h3>Finalize and Submit Order</h3>
  <%= render 'form', button_text: "Submit Order" %>
</div>

<script>

  const shadowCards = document.querySelectorAll(".dish-item.menu-card");
  const popupModal = document.getElementById("popupModal");
  const closeModal = document.getElementById("closeModal");

  shadowCards.forEach((card) => {
      card.addEventListener("click", () => {
        // Show the pop-up
        popupModal.classList.remove("hidden");
        console.log("Im being clicked")
      });
    });

    // Hide the pop-up when clicking the close button
    closeModal.addEventListener("click", () => {
      popupModal.classList.add("hidden");
    });

    // Hide the pop-up when clicking outside the modal content
    popupModal.addEventListener("click", (e) => {
      if (e.target === popupModal) {
        popupModal.classList.add("hidden");
      }
    });

</script>
