<h1>Order Continuation</h1> <hr>
<!-- Secondary navbar-->
<div class="nav-scroller py-1 mb-2">
  <div class="nav d-flex justify-content-between py-1">
    <% @menus.each do |menu| %>
      <a class="p-2 text-muted" href='#<%= menu.title.parameterize %>'><%= menu.title %></a>
    <% end %>
    <a class="p-2 text-muted" href='#submit'>Submit Order</a>
  </div>
</div> <hr>

<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="row">
        
      <!-- Dishes Column -->
        <div class="col">
          <h2>Dishes in this Order:</h2>
          <!-- Render dishes -->
          <%= render 'dish' %>
        </div>
  

      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<!-- Menus -->
<div class="card shadow-lg p-5">
  <h2>Click to add dishes to your order!</h2> <hr>
  <%= render 'menus/menu' %>

   <!-- Pop-Up Modal -->
  <div id="popupModal">
    <div id="modalContent">
      <%= render 'order_dishes/form', order: @order %>
      <button id="closeModal" >
        ✖
      </button>
    </div>
  </div>

</div> 

<br>
<br>
<br>

<!-- Renders order details -->
<section id="submit">
  <div class="card shadow-lg p-5">
    <h2>Finalize and Submit Order</h2>
    <%= render 'form', button_text: "Submit Order" %>
  </div>
</section>

<script>

  const shadowCards = document.querySelectorAll(".dish-item.menu-card");
  const popupModal = document.getElementById("popupModal");
  const closeModal = document.getElementById("closeModal");

  shadowCards.forEach((card) => {
      card.addEventListener("click", () => {
        // Show the pop-up
        popupModal.style.display = "block"
      });
    });

    // Hide the pop-up when clicking the close button
    closeModal.addEventListener("click", () => {
      popupModal.style.display = "none";
    });

    // Hide the pop-up when clicking outside the modal content
    popupModal.addEventListener("click", (e) => {
      if (e.target === popupModal) {
         popupModal.style.display = "none";
      }
    });

</script>
