<h1>Order History</h1>
<div class="container mt-5">
  <div class="row g-4"> 
    <!-- Pending Orders Column -->
    <div class="col-md-4">
      <h3>Pending Orders</h3>
      <% @orders.each do |order| %>
        <% if order.status == "Pending" %>
          <div class="order-card shadow-lg mb-3">
            <%= render order %>
            <% if order.status == 'Order Creation' %>
              <p><%= link_to "Continue to create my order", edit_order_path(order) %><p>
            <% else %>
              <p><%= link_to "Show this order", order %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Confirmed Orders Column -->
    <div class="col-md-4">
      <h3>Confirmed Orders (Pay now)</h3>
      <% @orders.each do |order| %>
        <% if order.status == "Confirmed" %>
          <div class="order-card shadow-lg mb-3">
            <%= render order %>
            <% if order.status == 'Order Creation' %>
              <%= link_to "Continue to create my order", edit_order_path(order) %>
            <% else %>
              <p><%= link_to "Show this order", order %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Completed Orders Column -->
    <div class="col-md-4">
      <h3>Completed Orders</h3>
      <% @orders.each do |order| %>
        <% if order.status == "Completed" %>
          <div class="order-card shadow-lg mb-3">
            <%= render order %>
            <% if order.status == 'Order Creation' %>
              <p><%= link_to "Continue to create my order", edit_order_path(order) %></p>
            <% else %>
              <p><%= link_to "Show this order", order %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

