<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">African Queen Kitchen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="<%= root_path %>">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= menus_path %>">Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_order_path %>">Inquire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= reviews_path %>">Reviews</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="<%= orders_path %>">My Orders</a></li>
              <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">My Profile</a></li>
              <li>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          <% else %>
            <li class="nav-item">
              <a class="nav-link active ms-auto" href="<%= user_session_path %>">Login</a>
            </li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>